.wordContainer {
  display: flex;
}

.wordContainer .thick {
  font-weight: lighter;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.segment {
  border-bottom: 5px solid black;
}

.threeColumns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
}

.wordList {
  height: 79vh;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple grey;
  scrollbar-width: thin;
  margin: 0;
  padding-right: 5px;
}

@media screen and (max-width: 640px) {
  .wordList {
    height: 70vh;
  }
}

.wordText {
  /* border-bottom: 1px dashed; */
  box-sizing: border-box;
  text-align: left;
  flex-grow: 1;
}

li .wordText, [data-rbd-draggable-id] .wordText { background-color: lightgray; }
li:nth-child(odd) .wordText, [data-rbd-draggable-id]:nth-child(odd) .wordText { background-color: rgb(240, 234, 234); }

li .wordText:hover, [data-rbd-draggable-id] .wordText:hover {
  background-color: rgba(154, 151, 151, 0.947)
}

li:nth-child(odd) .wordText:hover,  [data-rbd-draggable-id]:nth-child(odd) .wordText:hover{
  background-color: rgb(181, 180, 180)
}

.modalContainer {
  margin: auto;
  width: 30%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: papayawhip;
}

.modalContainer h2 {
  margin-left: 5%;
}

.modalContainer form {
  position: relative;
  margin-left: 5%;
  font-size: larger;
}

.modalContainer label,
.modalContainer select {
  margin: 2%;
  display: block;
}

.modalContainer .inputUpdate {
  margin: 2%;
  font-size: 1.5rem;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  display: block;
}

.modalContainer .moveWord {
  margin: 10px;
  font-size: 1.2rem;
  border: 0;
  outline: 0;
  background: transparent;
  word-wrap: break-word;
  display: block;
}

.modalContainer .rightSubmit {
  margin-top: 20px;
  position: absolute;
  right: 10%;
}

.pointButton {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.pointButton:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}

.toRight {
  float: right;
}

.padRight {
  padding-right: 8px;
}

.colorPickerContainer {
  background-color: aquamarine;
  padding: 2px;
  border: groove greenyellow 1px;
  position:absolute;
  z-index: 1;
}