.statWrapper {
  margin-bottom: 20px;
  height: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

@media screen and (max-width: 640px) {
  .statWrapper {
    grid-template-columns: repeat(2, 1fr) 0.8fr;
  }
}

.statWrapper button {
  border-radius: 2em;
  font-family:'Roboto',sans-serif;
  font-weight: bold;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  width: 100px;
  height: 40px;
  margin: 0px 10px;
  transition: all 0.2s;
}

.statWrapper button:hover {
  background-color:#4095c6;
}

.statWrapper .compactLine {
  margin: 2px 0px;
}

.statWrapper .fileAction {
  display: flex;
}

@media screen and (max-width: 640px) {
  .statWrapper .fileAction {
    display: none;
  }
}

.statWrapper .verticalSeparate {
  border-left: 2px solid black;
  margin-right: 12px;
}