body {
  min-width: 800px;
}

@media screen and (max-width: 640px) {
  body {
    min-width: 0;
  }
}

.appContainer {
  margin: 1% 1%;
}

.preHeader {
  display: grid;
  grid-template-columns: 0.4fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  height: 8vh;
}

@media screen and (max-width: 640px) {
  .preHeader {
    display: block;
    height: auto;
  }
}