.App {
  margin: 20px 2%;
}

.stat-wrapper {
  margin-bottom: 20px;
  height: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.stat-wrapper button {
  border-radius: 2em;
  font-family:'Roboto',sans-serif;
  font-weight: bold;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  width: 100px;
  height: 40px;
  margin: 0px 10px;
  transition: all 0.2s;
}

.stat-wrapper button:hover {
  background-color:#4095c6;
}

.stat-wrapper .compact-line {
  margin: 2px 0px;
}

.stat-wrapper .file-action {
  display: flex;
}

.stat-wrapper .vertical-separate {
  border-left: 2px solid black;
  margin-right: 12px;
}

:root {
  --bhue: 80; 
  --bsat: 60;
  --blig: 55;
  --light:hsl(var(--bhue), calc(var(--bsat)*1%), calc(var(--blig)*1%));
  --dark:hsl(var(--bhue), calc(var(--bsat)*1%), calc(var(--blig)*1% - 15%));
  --darkest:hsl(var(--bhue), calc(var(--bsat)*1%), calc(var(--blig)*1% - 35%));
}

.color {
  background: -moz-linear-gradient(0deg, var(--dark) 0%, var(--light) 9%, var(--dark) 17%, var(--darkest) 51%, var(--dark) 82%, var(--light) 91%, var(--dark) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--dark)), color-stop(9%, var(--light)), color-stop(17%, var(--dark)), color-stop(51%, var(--darkest)), color-stop(82%, var(--dark)), color-stop(91%, var(--light)), color-stop(100%, var(--dark))); /* safari4+,chrome */
  background: -webkit-linear-gradient(0deg, rgba(113,153,18,1) 0%, rgba(150,204,24,1) 9%, rgba(113,153,18,1) 17%, rgba(51,69,8,1) 51%, rgba(113,153,18,1) 82%, rgba(150,204,24,1) 91%, rgba(113,153,18,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg, var(--dark) 0%, var(--light) 10%, var(--dark) 20%, var(--darkest) 50%, var(--dark) 80%, var(--light) 90%, var(--dark) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, var(--dark) 0%, var(--light) 10%, var(--dark) 20%, var(--darkest) 50%, var(--dark) 80%, var(--light) 90%, var(--dark) 100%); /* ie10+ */
  background: linear-gradient(90deg, var(--dark) 0%, var(--light) 10%, var(--dark) 20%, var(--darkest) 50%, var(--dark) 80%, var(--light) 90%, var(--dark) 100%); /* w3c */
}

.ribbon {
  height: 70px;
  width:100%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--dark);
}

.left-text {
  margin: 6px;
  text-align: left;
  font-size: larger;
  font-weight: bold;
  color: azure;
}

.left-text .idiom-value {
  color: black;
}

.newWord-wrapper {
  margin: 40px auto;
  height: 40px;
  position: relative;
}

.newWord-wrapper label {
  font-size: 1.5rem;
  color: coral;
  margin-right: 20px;
  width: 120px;
}

.newWord-wrapper .input-text {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 20px;
  border-width:0px;
  border: none;
  border-bottom: 1px solid blueviolet;
  outline-width: 0px;
  color: brown;
}

.input-text:focus + .underline {
  transform: scale(1);
}

.underline {
  background-color: dodgerblue;
  display: inline-block;
  height: 2px;
  left: 180px;
  margin-top: -4px;
  position: absolute;
  top: 31px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 202px;
}

.round-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  width: 80px;
  display: inline-block;
  font-weight: bolder;
  border-radius: 20%;
}

.square-button {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.2rem;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.square-button:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.square-button:active {
	position:relative;
  top:1px;
  filter: invert(0.7);
}

.content-wrapper {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-auto-rows: auto;
  font-size: 1.5rem;
  margin: 20px auto;
}

.content-wrapper ul {
  list-style: none;
  padding-left: 0px;
}

.word-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-auto-rows: auto;
}

.word-text {
  border-bottom: 1px dashed;
  box-sizing: border-box;
  text-align: left;
}

.modal-wrapper {
  position: absolute;
  top: 30%;
  left: 40%;
  right: 40%;
  bottom: 45%;
  background-color: papayawhip;
}

.modal-wrapper h2 {
  margin-left: 20px;
}

.modal-wrapper form {
  position: relative;
  margin-left: 20px;
  font-size: larger;
}

.modal-wrapper label {
  margin: 10px;
  display: block;
}

.modal-wrapper .input-update {
  margin: 10px;
  font-size: 1.5rem;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  display: block;
}

.modal-wrapper .right-submit {
  margin-top: 20px;
  position: absolute;
  right: 10%;
}

.point-button {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.point-button:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}


li .word-text { background-color: lightgray; }
li:nth-child(odd) .word-text { background-color: rgb(240, 234, 234); }
