.bigSapce {
  margin: 10px 0;
  height: 40px;
}

.scrollThenSticky {
  position: sticky;
  top: 0;
}

.bigSpace {
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 10vh;
}

.inputText {
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid blueviolet;
  outline-width: 0px;
  color: brown;
}

.roundButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 40px;
  display: inline-block;
  font-weight: bolder;
  border-radius: 50%;
}

.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
  border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
}

.tooltip::before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-25%);
  
  /* move to right */
  left:100%;
  margin-left:15px; /* and add a small left margin */
  
  /* basic styles */
  width:200px;
  padding:10px;
  border-radius:10px;
  background:#000;
  color: #fff;
  text-align:center;
  font-size: small;

  display:none; /* hide by default */
}

.tooltip:hover::before {
  display:block;
}